Create representation of document by calculating Term Frequency and Inverse Document
Frequency

**calculating TFIDF**

**Import the necessary libraries**

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

**3. EDA(Exploratory Data Analysis)**

Data Preprocessing

**Initialize the Documents**

In [ ]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

In [ ]:
print(documentA)

Jupiter is the largest Planet

In [ ]:
print(documentB)

Mars is the fourth planet from the Sun

**Create BagofWords (BoW) for Document A and B**

In [ ]:

bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

**Create Collection of Unique words from Document A and B**

In [ ]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [ ]:
print(uniqueWords)

{'largest', 'the', 'Planet', 'is', 'fourth', 'from', 'Jupiter', 'planet', 'Mars', 'Sun'}


**Create a dictionary of words and their occurrence for each document in the
corpus**

In [ ]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1

In [ ]:
print(numOfWordsA)

{'largest': 1, 'the': 1, 'Planet': 1, 'is': 1, 'fourth': 0, 'from': 0, 'Jupiter': 1, 'planet': 0, 'Mars': 0, 'Sun': 0}

In [ ]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [ ]:
print(numOfWordsB)

{'largest': 0, 'the': 2, 'Planet': 0, 'is': 1, 'fourth': 1, 'from': 1, 'Jupiter': 0, 'planet': 1, 'Mars': 1, 'Sun': 1}

**Compute the term frequency for each of our documents**

In [ ]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
def bagOfWordsCountlen(bagOfWords):
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
        return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [ ]:
print(tfA)

None

In [ ]:
print(tfB)

None

**Compute the term Inverse Document Frequency**

In [ ]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'largest': 0.6931471805599453,
 'the': 0.0,
 'Planet': 0.6931471805599453,
 'is': 0.0,
 'fourth': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'Sun': 0.6931471805599453}

**Compute the term TF/IDF for all words**

In [ ]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf
    tfidfA = computeTFIDF(tfA, idfs)
    tfidfB = computeTFIDF(tfB, idfs)
    df = pd.DataFrame([tfidfA, tfidfB])
    df